body {
	margin-top:0px;
	margin-bottom:0px;
	background-color:black;
}

#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

header {
	padding-top:10px;
	padding-bottom:10px;
	height: 80px;
	text-align: center;
	width:100%;
	background-color:white;
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav a {
	color: black;
	text-decoration: none;
	font-family: arial;
	font-size: 32px;
}
	
nav a:hover {
	color:#848484;
}

section {
	width:100%;
	padding-top:1px;
	padding-bottom:1px;
	margin-bottom:0px;
	margin-top:-4px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	display:block;

}


footer {
	padding-top:10px;
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width: 960px;
	position: static;
	bottom: 0;
	background-color:white;
}

.footer-social-icons {
	width: 100%;
	height:auto;
	margin:auto;
}

.footer-social-icons ul {
	margin: 0px;
	padding: 0px;
	text-align:center;
}

.footer-social-icons ul li {
	display: inline-block;
	width:50px;
	height:50px;
	margin:0px 20px;
}

.content1 {
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:white;
	font-family:arial;
	font-size:80px;
	color:black;
}