<!DOCTYPE html>

<html>

	<head>
		<!--Kommentar: Benutzter Browser: Google Chrome
		Benutzter Editor: Sublime Text 3-->
		<meta name="keywords" content="html, css, anaconda, markomatijas, fhgrchur, webapplikation, digitalbusiness">
		<meta name="description" content="Webapplikation für die Terminorganisation">
		<meta name="date" content="2020-04-22 T:13:59:10+00:00">
		<meta name="author" content="Marko Matijas">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
		<title>Webapplikation - Marko Matijas</title>


	</head>
	
	<body>
		<div id="wrapper">
			<header>
				<nav>
					<ul>
						<li><a href="index.html">Startseite</a></li>
						<li><a href="uebermich.html">Adressbuch</a></li>
						<li><a href="ausbildung.html">PLatzhalter</a></li>
					</ul>
				</nav>	
			</header>
			
			
			<section>
				<div class="content1">
					<h1>Organizero</h1>


			</section>
		</div>

	</body>

</html>
	